{% extends "account/base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto text-center">
      <h2 class="mb-5">{% trans "Sign Up" %}</h2>
      
      <p class="mb-3">アカウント登録がお済の場合は<a class="text-primary" href="{{ login_url }}">こちら</a>からログインしてください。</p>
      
      <div class="card border-white">
        <div class="card-body mx-auto mb-4 col-6">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
        </div>
        <button type="submit" class="btn btn-primary col-3 mx-auto mb-3">{% trans "Sign Up" %}</button>
      </div>
      
      {% endblock %}
    </div>
  </div>
</div>
