{% extends 'common/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <form action="{% url 'recipe_edit' recipe.id %}" method="post">
        {% csrf_token %}
        <div>
          <label for="recipeName">レシピ名</label><br>
          <input type="text" name="name" id="recipeName" value={{ recipe.name }}>
        </div>
        <div>
          <label for="recipeDescription">レシピの詳細</label><br>
          <textarea name="description" id="recipeDescription" cols="100" rows="10">{{ recipe.description }}</textarea>
        </div>
        <input type="submit" value="決定" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}