{% extends 'common/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2>レシピの新規登録</h2>
      <form action="{% url 'recipe_new' %}" method="post">
        {% csrf_token %}
        <div>
          <label for="recipeName">レシピ名</label><br>
          <input type="text" name="name" id="recipeName">
        </div>
        <div>
          <label for="recipeDescription">作り方</label><br>
          <textarea name="description" id="recipeDescription" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="決定" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock content %}

