{% extends 'common/base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'user/css/myPage.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mb-5">
      <h2 class="mb-3">マイページ</h2>
      <div>
        <p>ユーザー名: {{ user }}</p>
        <p>投稿数：{{ recipes|length }}</p>
        {% if user.email %}
          <p>{{ user.email }}</p>
        {% else %}
          <p>The mail has not been registered.</p>
        {% endif %}
      </div>
    </div>
  
    <div class="row mb-5">
      <h2 class="mb-3">レシピ一覧</h2>
      {% if recipes %}
        {% for recipe in recipes %}
          <p><a href="{% url 'recipe_show' recipe.id %}">{{ recipe.name }}</a></p>
          <p>{{ recipe.description|linebreaksbr }}</p>
          <hr>
        {% endfor %}
      {% else %}
        <p>You have not submitted any recipes yet.</p>
      {% endif %}
    {% endblock %}
    </div>
  </div>